<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSCI366FinalProject.Properties.Settings.FinalAssignmentDatabaseConnectionString"
            connectionString="Host=3.17.98.91;Database=FinalAssignmentDatabase;Username=csci366;Password=csci366;Persist Security Info=True"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>